div{
  box-sizing: border-box;
}

body{
  margin: 0%;
  font-family: 'Noto Sans KR', 'Roboto', sans-serif;
  overflow-x: hidden;
  
  /* font-family: 'Roboto', sans-serif; */
}

h1{
  font-weight: bold;
  margin: 0px;
  font-size: 80px;
}

p{
  font-weight: 300;
  margin: 0ex;
  padding: 0px;
  font-size: 20px;
}