@import url(./Reset.css);



.navbar{
    width: 100vw;
    padding: 20px 50px;
    background-color: black;
    color: white;
    list-style: none;
    z-index: 5;
    transition: all 200ms;
    // max-width: 100vw;
}

.fixed{
    position: fixed;
}

.navbar-container{
    display: flex;
    width: 94%;
    ul{
        margin: 0px;
        padding: 0px;
        font-size: 20px;    
    }
    .home{
        margin-right: auto;
    }
    .navbar-etc{
        flex: none;
        margin-left: 100px;
    }
    a{
        text-decoration: none;
        color: white;
    }
}

.btn{
    padding: 20px 60px;
    background-color: black;
    color: white;
    // margin-right: auto;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    margin-top: 50px;
}

// .body-container{
//     height:5000px;

// }


.main-background{
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    top: 0px;
    background-color: #061D3C;
    color: white;
    padding: 150px 300px;
    .main-text-container{
        h1{
            font-weight: 700;
            font-size: 80px;
        }
        .main-text{
            font-size: 30px;
            font-weight: 300;
            width: 100vw;
            max-width: 30vw;
            margin: 10px;
            
        }
        
    }
    
    
    .profile-img{
        margin-left: auto;
        display: inline-block;
        
 
        
    }
}



.works-title{
    width: 100%;
    padding: 200px 300px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    position: sticky;
}

.big-title{
    font-size: 120px;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: 2px white;
    font-style: oblique;
}

.movie{
    position: sticky;
    top: 0%;
    background: linear-gradient(94.07deg, #8438FF 10.64%, #7448FF 52.28%, #8438FF 90.59%);
    height: 120vh;
    padding: 100px 300px;
    width: 100vw;
    .movie-container{
        display: flex;
        justify-content: space-between;
        margin-top: 100px;
    }
        #movie-text-box{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 25vw;
            color: white;

            
            }
            p{
                margin-top: 0px;
                font-size: 20px;
            }
        }
.p-title{
    font-size: 40px;
    margin-top: 60px;
    margin-bottom: 20px;

        // 40 20
        #movie-img-box{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            width: 25vw;
            justify-content: right;
            .img-1{
                width: 60%;
                margin-top: -50px;
                // margin-top: 100px;
                img{
                    position: sticky;
                    background-color: #eee;
                    width: 100%;
                    top:100px;
                    justify-self: right;
                }
            }
        }
}

.mmca{
    width: 100vw;
    height: 120vh;
    background-color: #f9f9fa;
    position: sticky;
    padding: 300px;

    .mmca-wrapper{
        display: flex;
    }
}

@mixin stick-box() {
    position: sticky;
        float: right;
        background-color: #eee;
        width: 300px;
        height: 400px;
        top: 100px;
}

@media screen and(max-width: 768px) {

    .main-text{
        width: auto;
        margin: 0px auto;
    }
    .main-background{
        padding: 100px 100px;
        flex-direction: column;
        text-align: center;
        align-items: center;
        height: 1000px;
        
    }
    .btn{
        margin: auto;
    }

    .works-title{
        padding: 100px;
        flex-direction: column;
        position: sticky;
    }

    .movie{
        padding: 100px 100px;
    }
    .movie-container{
        flex-direction: column;
        text-align: center;
        align-items: center;
        h1{
            margin: auto;
        }
        #movie-text-box{
            width: 100%;
            p{
                margin-bottom: 50px;
            }
        }
        #movie-img-box{
            width: 100%;
        }
    }
}